.board-column {
	border-radius: 3px;
	min-height: 600px;
	padding-bottom: 20px;
	
	&.backlog {
		background-color: transparentize($lightgrey, .8);
	}
	
	&.inProgress {
		background-color: transparentize($orange, .8);
	}
	
	&.done {
		background-color: transparentize($green, .8);
	}
	
	.headline {
		text-transform: uppercase;
	}
	
	.bc__task-list {
		padding: 0 8px;
	}
}
