.kanban-board {
	.glide__slides {
		display: flex;
	}
	
	.glide__slide {
		display: inline-block;
	}
	
	.slider {
		display: flex;
		width: 100%;
		overflow-x: auto;
		scroll-snap-type: x mandatory;
		-webkit-overflow-scrolling: touch;
		@include media-breakpoint-up(md) {
			-webkit-overflow-scrolling: auto;
			scroll-snap-type: none;
		}
		
		&::-webkit-scrollbar {
			display: none;
		}
	}
	
	.slider-item {
		flex-shrink: 0;
		width: 94%;
		margin-right: 15px;
		display: inline-block;
		scroll-snap-align: center;
		@include media-breakpoint-up(md) {
			width: 100%;
			flex: 1 1 auto;
		}
		
	}
}
