$light: #fff;
$lightgrey: #c5c6d1;
$green: #7fd4a6;
$orange: #fac696;
$blue: #558eff;
$red: #d65c71;

$font-size-base: 1rem;
$font-size-h1: $font-size-base * 2.5;
$font-size-h2: $font-size-base * 2;
$font-size-h3: $font-size-base * 1.4;
$font-size-h4: $font-size-base * 1.3;
$font-size-h5: $font-size-base;

// shadows
$box-shadow-2dp: 0 2px 2px rgba(0, 0, 0, 0.08), 0 2px 3px rgba(0, 0, 0, 0.10);
$box-shadow-4dp: 0 4px 6px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16);
$box-shadow-8dp: 0 5px 12px rgba(0, 0, 0, 0.10), 0 4px 8px rgba(0, 0, 0, 0.12);
$box-shadow-20dp: 0 10px 40px rgba(0, 0, 0, 0.08), 0 20px 50px rgba(0, 0, 0, 0.10);

// input, textarea
$input-padding-vertical: 5px;
$input-padding-horizontal: 6px;
$input-padding: $input-padding-vertical $input-padding-horizontal;
