.btn {
	border-radius: 3px;
	padding: 5px 16px;
	transition: background-color .2s ease-in-out;
}

.btn-primary {
	background-color: transparentize($blue, .2);
	color: $light;
	font-weight: bold;
	letter-spacing: .2px;
	
	&:hover {
		background-color: transparentize($blue, .1);
	}
}

.btn-secondary {
	color: $orange;
	padding: 5px 0;
}

.btn-warning {
	color: $red;
	font-weight: bold;
	letter-spacing: .2px;
	
	&:hover {
		background-color: transparentize($red, .9);
	}
}
