textarea {
	border: none;
	border-radius: 4px;
	padding: $input-padding;
	resize: none;
	transition: background-color .2s ease-in-out;
	
	&:hover, &:focus, &:active {
		background-color: transparentize($lightgrey, .85);
	}
	
	&:placeholder-shown {
		background-color: transparentize($lightgrey, .85);
	}
}
