.board-task {
	margin-bottom: 14px;
	box-shadow: $box-shadow-2dp;
	
	.bt__task {
		background-color: $light;
		padding: 12px;
		border-radius: 3px;
	}
	
	.task__inner {
		div {
			margin-bottom: 10px;
		}
		
		h5 {
			padding: 0 $input-padding-horizontal;
		}
		
		p {
			padding: $input-padding;
		}
	}
	
	.task__actions {
		margin-left: 8px;
	}
	
	input {
		width: 100%;
	}
	
	textarea {
		width: 100%;
	}
	
	
}
