html, body {
	height: 100%;
}

* {
	-webkit-tap-highlight-color: transparent;
	outline: none;
}

body {
	shape-rendering: geometricPrecision !important;
	color-rendering: optimizeQuality !important;
	backface-visibility: hidden;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%
}

:root {
	scroll-behavior: smooth
}
