* {
	-webkit-tap-highlight-color: transparent;
	border-image: none;
	outline: none !important;
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
}

a {
	text-decoration: none;
	color: $dark;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0
}

input {
	background: transparent;
	border: none
}

button {
	background: transparent;
	border: none;
	color: inherit;
}

svg {
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0) scale(1.0, 1.0);
	transform: translateZ(0);
}
